<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/logidutra</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">03122007</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="projeto.models.ClientesRomaneio"/>
        <mapping class="projeto.models.Pedidos"/>
        <mapping class="projeto.models.Romaneios"/>
        <mapping class="projeto.models.Endereco"/>
        <mapping class="projeto.models.Motoristas"/>
        <mapping class="projeto.models.Usuarios"/>
        <mapping class="projeto.models.Veiculos"/>
        <mapping class="projeto.models.Permissoes"/>

    </session-factory>
</hibernate-configuration>
